@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');
:root {
  --font-style: 'Rubik', sans-serif;
}
a {
  box-sizing: border-box;
}
body {
  background: rgb(230, 218, 218);
  font-family: var(--font-style);
}
.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgb(109, 109, 175);
  box-shadow: 0 15px 25px rgb(93, 90, 176);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box input {
  position: relative;
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: relative;
  left: 0;
  top: -60px;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -85px;
  left: 0;
  color: #fefeff;
  font-size: 12px;
}

button.btn {
  padding: 10px 20px;
  color: #050506;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 4px;
  border: 1px solid #d8d6e2;
  margin: auto;
}

button.btnsumbit:hover {
  background: #8f7cec;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #8f7cec, 0 0 25px #8f7cec, 0 0 50px #8f7cec,
    0 0 100px #8f7cec;
}
.button-form {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
#register {
  font-size: 14px;
  text-decoration: none;
  color: black;
  margin: auto;
  width: 60%;
  text-align: center;
}
#register a {
  margin: auto;
  color: white;
  text-decoration: none;
}
